<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= typeof title == 'undefined' ? 'New Sails App' : title %></title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--
	  Stylesheets and Preprocessors
	  ==============================

	  You can always bring in CSS files manually with `<link>` tags, or asynchronously
	  using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
	  of Sails' conventional asset pipeline (boilerplate Gruntfile).

	  By default, stylesheets from your `assets/styles` folder are included
	  here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
	  are supported. In production, your styles will be minified and concatenated into
	  a single file.

	  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
	  For example, here are a few things you could do:

		  + Change the order of your CSS files
		  + Import stylesheets from other directories
		  + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->

  <!--STYLES-->
  
  <!--STYLES END-->
</head>

<body>
<!--vue 的instance-->
<div id="app">
  <b-container>
    <!--navbar-->
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-nav-toggle target="nav_collapse"></b-nav-toggle>
      <b-navbar-brand href="#">市集系統</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-nav is-nav-bar>
          <b-nav-item href="/">招商資訊</b-nav-item>
          <b-nav-item href="#">市集資訊</b-nav-item>
        </b-nav>

        <!-- Right aligned nav items -->
        <b-nav is-nav-bar class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="搜尋"/>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">搜尋</b-button>
          </b-nav-form>
          <!--多語系切換-->
          <!--<b-nav-item-dropdown text="Lang" right>-->
            <!--<b-dropdown-item href="#">EN</b-dropdown-item>-->
            <!--<b-dropdown-item href="#">ES</b-dropdown-item>-->
            <!--<b-dropdown-item href="#">RU</b-dropdown-item>-->
            <!--<b-dropdown-item href="#">FA</b-dropdown-item>-->
          <!--</b-nav-item-dropdown>-->
          <!--使用者功能-->
          <b-nav-item-dropdown right>
            <!-- Using button-content slot -->
            <template slot="button-content">
              <em>使用者</em>
            </template>
            <b-dropdown-item href="#">個人資訊</b-dropdown-item>
            <b-dropdown-item href="#">登出</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-nav>
      </b-collapse>
    </b-navbar>
    <!--實際內容-->
    <%- body %>
    <!--footer-->
    <div></div>
  </b-container>
</div>

<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/bundle.js"></script>
<!--SCRIPTS END-->
</body>
</html>
