<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= typeof title == 'undefined' ? 'New Sails App' : title %></title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--
	  Stylesheets and Preprocessors
	  ==============================

	  You can always bring in CSS files manually with `<link>` tags, or asynchronously
	  using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
	  of Sails' conventional asset pipeline (boilerplate Gruntfile).

	  By default, stylesheets from your `assets/styles` folder are included
	  here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
	  are supported. In production, your styles will be minified and concatenated into
	  a single file.

	  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
	  For example, here are a few things you could do:

		  + Change the order of your CSS files
		  + Import stylesheets from other directories
		  + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->

  <!--STYLES-->
  
  <!--STYLES END-->
</head>

<body>
<div class="container">
  <!--navbar-->
  <nav class="navbar navbar-expand-md navbar-light bg-faded m-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/merchants">
      <img src="images/bootstrap-stack.png" width="40">
      市集系統
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">招商資訊 <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
      </form>
    </div>
  </nav>
  <!--實際內容-->
  <%- body %>
  <!--footer-->
  <div></div>
</div>

<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/bundle.js"></script>
<!--SCRIPTS END-->
</body>
</html>
